version: "1"
services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "80:9091"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27020:27020"
